h1
{
    text-align: center;
    background-color: gray;
    margin-left: 200px;
    margin-right: 200px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}

h2
{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
ul
{
    list-style-type: none;
    padding-left: 0px;
}
li
{
    background-color: rgb(132, 190, 188);
    border: 10px solid black;
    margin: 20px;
}
p
{
    font-family: Verdana, Geneva, sans-serif;
}
img
{
    padding: 10px;
}

form
{
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 60px;
    color: white;
}

label
{
    background-color: red;
    padding: 10px;
}

#dySearchList
{
    background-color: #78a2cc;
    padding-top: 10px;
    padding-bottom: 10px;
}
#dySearchList img
{
    background-color: #96b9d0;
}
#dySearchList li
{
    background-color: #88aed0;
    border: groove 10px white;
    color: white;
}
